dg2adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dg2adf"
		},
		"AzureSearch1_key": {
			"type": "secureString",
			"metadata": "Secure string for 'key' of 'AzureSearch1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"LinkedServiceDatalake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkedServiceDatalake'"
		},
		"LinkedServiceFileServerOnPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LinkedServiceFileServerOnPrem'"
		},
		"LinkedServiceSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LinkedServiceSqlServer'"
		},
		"PostgreSqlOnPrem2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PostgreSqlOnPrem2'"
		},
		"AzureSearch1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dgcognitivesearch.search.windows.net"
		},
		"LinkedServiceFileServerOnPrem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\data\\Northwind"
		},
		"LinkedServiceFileServerOnPrem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "usr_datafactory"
		},
		"integrationRuntime1_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/d0a8fb40-72fd-484a-94e2-aff6d4a1b810/resourcegroups/dg-resourcegroup/providers/Microsoft.DataFactory/factories/dgdatafactory2020/integrationruntimes/integrationRuntime1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PipelineCopyDataFromOnPrem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Northwind Orders to DataLake Raw Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDERID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDERID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CUSTOMERID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CUSTOMERID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "EMPLOYEEID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EMPLOYEEID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ORDERDATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDERDATE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "REQUIREDDA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REQUIREDDA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPPEDDAT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPEDDAT",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPVIA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPVIA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FREIGHT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FREIGHT",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPNAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPNAME",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPADDRES",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPADDRES",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPCITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPCITY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPREGION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPREGION",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPPOSTAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPOSTAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SHIPCOUNTR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPCOUNTR",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Northwind_Orders_dbf",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Northwind_Orders_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AdventureWorks Addres to DataLake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "addressid",
											"type": "Int32"
										},
										"sink": {
											"name": "addressid",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "addressline1",
											"type": "String"
										},
										"sink": {
											"name": "addressline1",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "addressline2",
											"type": "String"
										},
										"sink": {
											"name": "addressline2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "stateprovinceid",
											"type": "Int32"
										},
										"sink": {
											"name": "stateprovinceid",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "postalcode",
											"type": "String"
										},
										"sink": {
											"name": "postalcode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "spatiallocation",
											"type": "String"
										},
										"sink": {
											"name": "spatiallocation",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "rowguid",
											"type": "Guid"
										},
										"sink": {
											"name": "rowguid",
											"type": "Guid",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "modifieddate",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifieddate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AdventureWorks_Address_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AdventureWorks_Address_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Northwind Customer  to DataLake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CUSTOMERID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CUSTOMERID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "COMPANYNAM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COMPANYNAM",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CONTACTNAM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CONTACTNAM",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CONTACTTIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CONTACTTIT",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ADDRESS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ADDRESS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "REGION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REGION",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "POSTALCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "POSTALCODE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PHONE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHONE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FAX",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FAX",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "_NULLFLAGS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_NULLFLAGS",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Northwind_customers_dbf",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Northwind_Customer_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AdventureWorks Person to DataLake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "businessentityid",
											"type": "Int32"
										},
										"sink": {
											"name": "businessentityid",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "persontype",
											"type": "String"
										},
										"sink": {
											"name": "persontype",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "namestyle",
											"type": "Boolean"
										},
										"sink": {
											"name": "namestyle",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "firstname",
											"type": "String"
										},
										"sink": {
											"name": "firstname",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "middlename",
											"type": "String"
										},
										"sink": {
											"name": "middlename",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "lastname",
											"type": "String"
										},
										"sink": {
											"name": "lastname",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "suffix",
											"type": "String"
										},
										"sink": {
											"name": "suffix",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "emailpromotion",
											"type": "Int32"
										},
										"sink": {
											"name": "emailpromotion",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "additionalcontactinfo",
											"type": "String"
										},
										"sink": {
											"name": "additionalcontactinfo",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "demographics",
											"type": "String"
										},
										"sink": {
											"name": "demographics",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "rowguid",
											"type": "Guid"
										},
										"sink": {
											"name": "rowguid",
											"type": "Guid",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "modifieddate",
											"type": "DateTime"
										},
										"sink": {
											"name": "modifieddate",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AdventureWorks_Person_postgresql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AdventureWorks_Person_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data wrangling Customer Orders",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Northwind Orders to DataLake Raw Data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Northwind Customer  to DataLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Dataflow_Northwind",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Orders": {},
									"Customers": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Copy from staging to CustomerOrder to Azure SQL DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Data wrangling Customer Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Northwind_Customer_Order_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NorthwindCustomerOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Address to SQL DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "AdventureWorks Addres to DataLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AdventureWorks_Address_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AdventureWorksAddress",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Person to SQL DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "AdventureWorks Person to DataLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AdventureWorks_Person_Datalake",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AdventureWorksPerson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Northwind_Orders_dbf')]",
				"[concat(variables('factoryId'), '/datasets/Northwind_Orders_Datalake')]",
				"[concat(variables('factoryId'), '/datasets/AdventureWorks_Address_postgresql')]",
				"[concat(variables('factoryId'), '/datasets/AdventureWorks_Address_Datalake')]",
				"[concat(variables('factoryId'), '/datasets/Northwind_customers_dbf')]",
				"[concat(variables('factoryId'), '/datasets/Northwind_Customer_Datalake')]",
				"[concat(variables('factoryId'), '/datasets/AdventureWorks_Person_postgresql')]",
				"[concat(variables('factoryId'), '/datasets/AdventureWorks_Person_Datalake')]",
				"[concat(variables('factoryId'), '/dataflows/Dataflow_Northwind')]",
				"[concat(variables('factoryId'), '/datasets/Northwind_Customer_Order_Datalake')]",
				"[concat(variables('factoryId'), '/datasets/NorthwindCustomerOrder')]",
				"[concat(variables('factoryId'), '/datasets/AdventureWorksAddress')]",
				"[concat(variables('factoryId'), '/datasets/AdventureWorksPerson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorks_Address_Datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "address.parquet",
						"folderPath": "address",
						"container": "datalake-adventureworks-raw-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorks_Address_postgresql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PostgreSqlOnPrem2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "person",
					"table": "address"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PostgreSqlOnPrem2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorks_Person_Datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "person.parquet",
						"folderPath": "person",
						"container": "datalake-adventureworks-raw-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorks_Person_postgresql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PostgreSqlOnPrem2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "person",
					"table": "person"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PostgreSqlOnPrem2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSearchIndex1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSearch1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSearchIndex",
				"schema": [],
				"typeProperties": {
					"indexName": "address"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSearch1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NorthwindCustomerOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "customerorder"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind_Customer_Datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "customers.parquet",
						"folderPath": "customers",
						"container": "datalake-northwind-raw-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind_Customer_Order_Datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "datalake-northwind-staging"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind_Datalake_raw_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "datalake-northwind-raw-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind_Orders_Datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "orders.parquet",
						"folderPath": "orders",
						"container": "datalake-northwind-raw-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind_Orders_dbf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceFileServerOnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "orders.csv"
					},
					"columnDelimiter": ",",
					"encodingName": "ISO-8859-1",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "String"
					},
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "EMPLOYEEID",
						"type": "String"
					},
					{
						"name": "ORDERDATE",
						"type": "String"
					},
					{
						"name": "REQUIREDDA",
						"type": "String"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "String"
					},
					{
						"name": "SHIPVIA",
						"type": "String"
					},
					{
						"name": "FREIGHT",
						"type": "String"
					},
					{
						"name": "SHIPNAME",
						"type": "String"
					},
					{
						"name": "SHIPADDRES",
						"type": "String"
					},
					{
						"name": "SHIPCITY",
						"type": "String"
					},
					{
						"name": "SHIPREGION",
						"type": "String"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "String"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "String"
					},
					{
						"name": "_NULLFLAGS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceFileServerOnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind_customers_dbf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceFileServerOnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "customers.csv"
					},
					"columnDelimiter": ",",
					"encodingName": "ISO-8859-1",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "String"
					},
					{
						"name": "CUSTOMERID",
						"type": "String"
					},
					{
						"name": "EMPLOYEEID",
						"type": "String"
					},
					{
						"name": "ORDERDATE",
						"type": "String"
					},
					{
						"name": "REQUIREDDA",
						"type": "String"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "String"
					},
					{
						"name": "SHIPVIA",
						"type": "String"
					},
					{
						"name": "FREIGHT",
						"type": "String"
					},
					{
						"name": "SHIPNAME",
						"type": "String"
					},
					{
						"name": "SHIPADDRES",
						"type": "String"
					},
					{
						"name": "SHIPCITY",
						"type": "String"
					},
					{
						"name": "SHIPREGION",
						"type": "String"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "String"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "String"
					},
					{
						"name": "_NULLFLAGS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceFileServerOnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSearch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSearch",
				"typeProperties": {
					"url": "[parameters('AzureSearch1_properties_typeProperties_url')]",
					"key": {
						"type": "SecureString",
						"value": "[parameters('AzureSearch1_key')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedServiceDatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LinkedServiceDatalake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedServiceFileServerOnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LinkedServiceFileServerOnPrem_properties_typeProperties_host')]",
					"userId": "[parameters('LinkedServiceFileServerOnPrem_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LinkedServiceFileServerOnPrem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedServiceSqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LinkedServiceSqlServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlOnPrem2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('PostgreSqlOnPrem2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('integrationRuntime1_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_Northwind')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Northwind_Datalake_raw_data",
								"type": "DatasetReference"
							},
							"name": "Orders"
						},
						{
							"dataset": {
								"referenceName": "Northwind_Datalake_raw_data",
								"type": "DatasetReference"
							},
							"name": "Customers"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Northwind_Customer_Order_Datalake",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						},
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "OrdersClean"
						},
						{
							"name": "CustomersClean"
						}
					],
					"script": "source(output(\n\t\tORDERID as string,\n\t\tCUSTOMERID as string,\n\t\tEMPLOYEEID as string,\n\t\tORDERDATE as string,\n\t\tREQUIREDDA as string,\n\t\tSHIPPEDDAT as string,\n\t\tSHIPVIA as string,\n\t\tFREIGHT as string,\n\t\tSHIPNAME as string,\n\t\tSHIPADDRES as string,\n\t\tSHIPCITY as string,\n\t\tSHIPREGION as string,\n\t\tSHIPPOSTAL as string,\n\t\tSHIPCOUNTR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:['orders/**']) ~> Orders\nsource(output(\n\t\tCUSTOMERID as string,\n\t\tCOMPANYNAM as string,\n\t\tCONTACTNAM as string,\n\t\tCONTACTTIT as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\tPOSTALCODE as string,\n\t\tCOUNTRY as string,\n\t\tPHONE as string,\n\t\tFAX as string,\n\t\t{_NULLFLAGS} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:['customers/customers.parquet']) ~> Customers\nOrdersClean, CustomersClean join(OrdersClean@CUSTOMERID == CustomersClean@CUSTOMERID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nOrders derive(ORDERID = uuid()) ~> DerivedColumn1\nDerivedColumn1 select(mapColumn(\n\t\tORDERID,\n\t\tCUSTOMERID,\n\t\tSHIPNAME,\n\t\tSHIPADDRES,\n\t\tSHIPCITY,\n\t\tSHIPPOSTAL,\n\t\tSHIPCOUNTR\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> OrdersClean\nCustomers select(mapColumn(\n\t\tCUSTOMERID,\n\t\tCOMPANYNAM,\n\t\tCONTACTNAM,\n\t\tCONTACTTIT,\n\t\tADDRESS,\n\t\tCITY,\n\t\tPOSTALCODE,\n\t\tCOUNTRY,\n\t\tPHONE,\n\t\tFAX\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> CustomersClean\nJoin1 sink(input(\n\t\tORDERID as string,\n\t\tCUSTOMERID as string,\n\t\tEMPLOYEEID as string,\n\t\tORDERDATE as string,\n\t\tREQUIREDDA as string,\n\t\tSHIPPEDDAT as string,\n\t\tSHIPVIA as string,\n\t\tFREIGHT as string,\n\t\tSHIPNAME as string,\n\t\tSHIPADDRES as string,\n\t\tSHIPCITY as string,\n\t\tSHIPREGION as string,\n\t\tSHIPPOSTAL as string,\n\t\tSHIPCOUNTR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tpartitionFileNames:['customerorder.parquet'],\n\ttruncate: true,\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Northwind_Datalake_raw_data')]",
				"[concat(variables('factoryId'), '/datasets/Northwind_Customer_Order_Datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorksAddress')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "address"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorksPerson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "address"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorks_Datalake_raw_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedServiceDatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "datalake-adventureworks-raw-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDERID",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMERID",
						"type": "UTF8"
					},
					{
						"name": "EMPLOYEEID",
						"type": "UTF8"
					},
					{
						"name": "ORDERDATE",
						"type": "UTF8"
					},
					{
						"name": "REQUIREDDA",
						"type": "UTF8"
					},
					{
						"name": "SHIPPEDDAT",
						"type": "UTF8"
					},
					{
						"name": "SHIPVIA",
						"type": "UTF8"
					},
					{
						"name": "FREIGHT",
						"type": "UTF8"
					},
					{
						"name": "SHIPNAME",
						"type": "UTF8"
					},
					{
						"name": "SHIPADDRES",
						"type": "UTF8"
					},
					{
						"name": "SHIPCITY",
						"type": "UTF8"
					},
					{
						"name": "SHIPREGION",
						"type": "UTF8"
					},
					{
						"name": "SHIPPOSTAL",
						"type": "UTF8"
					},
					{
						"name": "SHIPCOUNTR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedServiceDatalake')]"
			]
		}
	]
}